<?php
	//Give your custom key for crypt your password
	$config['pop3fetcher_crypt_key'] = "32chars_key";
	$config['pop3fetcher_iv_key'] = "16chars_key";

	//Auto check the new version (disabled by default)
	$config['automatically_check_for_updates'] = false;

	//Fetch method, can be 'cron', 'refesh', 'folder' or array
	//For cron, simply add cron to file /pop3fetcher/cronjob/synchronise.php
	//Refresh is hooked when invoked by RC
	//Folder is invoked when one linked folder is clicked on list
	//If array, you can set multiple methods
	$config['synch_method'] = array('refesh', 'folder');
